# =========================
# DATA
# =========================
data/
datasets/
*.csv

# =========================
# OUTPUTS / RESULTS
# =========================
outputs/
results/
analysis_outputs/
*.json
*.log

# =========================
# MODELS / CHECKPOINTS
# =========================
*.pt
*.pth
checkpoints/

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# ENV
# =========================
venv/
.venv/
.env

# =========================
# OS / MISC
# =========================
.DS_Store
Thumbs.db

# =========================
# EDITORS
# =========================
.vscode/
.idea/